.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    top: 0;
    padding: 0 40px;
}

.navbar h2 {
    align-self: flex-start;
}

.nav-icon {
    align-self: center;
}

.nav-img {
    width: 40px;
    height: 40px;
}

.information {
    display: flex;
    justify-content: space-between;
}

.navbar div {
    align-self: flex-start;
}

.button {
    display: flex;
    justify-content: space-around;
    padding: 0 190px;
    margin-bottom: 50px;
}

.button-head {
    border: none;
    background-color: #fff;
}

.card {
    display: flex;
    justify-content: center;
    min-width: 400px;
    gap: 40px;
    max-width: 1200px;
    padding: 50px 30px;
}

.card img {
    width: 300px;
    height: 422px;
    object-fit: cover;
}

.card-sub {
    flex: 1 1 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    margin-bottom: 60px;
}

#card-sub1 {
    background-color: #fafafa;
}

#card-sub2 {
    background-color: #eae9e7;
}

.card2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.card2 img {
    width: 306px;
    height: 422px;
}

.sale {
    display: flex;
    align-items: center;
    border: 1px solid;
     background-color: #dbd0cc;
}

.sale button {
    background-color: #dbd0cc;
    border: 1px solid;
    cursor: pointer;
}

.sale h2 {
    color: #a86a3d;
}

.sale img {
    width: 594px;
    height: 446px;
}


.sale2 img {
    width: 100%;
    height: 510px;
}

.card3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    max-width: 1400px;
    margin: 30px auto;
}

.card3 img {
    width: 198px;
    height: 308px;
}

.load {
    display: flex;
    justify-content: center;
}

.button-main2 {
    border: none;
    background: #000;
    color: #fff;
}

.card-indiv {
    display: flex;
    justify-content: space-around;
}

.card-indiv p {
    justify-self: center;
}