body{
    max-width: auto;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    top: 0;
    padding: 0 40px;
}

.navbar h2 {
    align-self: flex-start;
}

.nav-icon {
    align-self: center;
}

.nav-img {
    width: 40px;
    height: 40px;
}

.navbar div {
    align-self: flex-start;
}

.button {
    display: flex;
    justify-content: space-around;
    padding: 0 190px;
    margin-bottom: 50px;
}

.button-head {
    border: none;
    background-color: #fff;
}

.information {
    text-align: center;
}


footer {
    background-color: #323334;
}

.footer {
    display: flex;
    justify-content: space-between;
    color: gray;
}

.footer h3,h4 {
    color: #ffffff;
}

.text-footer {
    color: #ffffff;
}

.block-footer {
    border-bottom:1px solid ;
}

.footer-end {
    text-align: center;
    color: #ffffff;
    background-color: #222222;
    padding: 5px 10px;
}

.footer1 p {
    cursor: pointer;
}

