.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    top: 0;
    padding: 0 40px;
}

.navbar h2 {
    align-self: flex-start;
}

.nav-icon {
    align-self: center;
}

.nav-img {
    width: 40px;
    height: 40px;
}

.information {
    display: flex;
    justify-content: space-between;
}

.navbar div {
    align-self: flex-start;
}

.button {
    display: flex;
    justify-content: space-around;
    padding: 0 190px;
}

.button-head {
    border: none;
    background-color: #fff;
}


.card2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.card2 img {
    width: 30%;
}

.sale img {
    width: 50%;
}


.sale2 img {
    width: 50%;
}

.card3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    max-width: 1400px;
    margin: 30px auto;
}

.card3 img {
    width: 198px;
    height: 308px;
}

.load {
    display: flex;
    justify-content: center;
}

.button-main2 {
    border: none;
    background: #000;
    color: #fff;
}

.card-indiv {
    display: flex;
    justify-content: space-around;
}

.card-indiv p {
    justify-self: center;
}