header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    background-color: #2c3e50;
}

#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex: 1;
    gap: 20px;
}

#logo {
    height: 50px;
}

#service{
    color: #fff;
}


.deroulant {
    position: relative;
}

.sous {
    display: none;
    position: absolute;
    background: white;
    color: #333;
    min-width: 160px;
    top: 100%;
    left: 0;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.sous a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}

.sous a:hover {
    background: #eee;
}

.deroulant:hover .sous {
    display: block;
}


button {
    color: #fff;
    border: none;
    background-color: #2c3e50;
    justify-content: center;
    font-size: 18px;
}

main {
    display: flex;
    justify-content: center;
}


#games {
    display: flex;
    justify-content: center;
    gap: 40px;
}

#footer {
    background-color: #2c3e50;
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 18px;
}