* {
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    font: 1.2em sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    background-color: #2c3e50;
}

#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex: 1;
    gap: 20px;
}

#logo {
    height: 50px;
}

#service{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}


.deroulant {
    position: relative;
}

.sous {
    display: none;
    position: absolute;
    background: white;
    color: #333;
    min-width: 160px;
    top: 100%;
    left: 0;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.sous a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}

.sous a:hover {
    background: #eee;
}

.deroulant:hover .sous {
    display: block;
}


button {
    color: #fff;
    border: none;
    background-color: #2c3e50;
    justify-content: center;
    font-size: 18px;
}

#connexion {
    background-color: #2727ae;
    border-radius: 10px;
}

#menutoggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

#menutoggle span {
    width: 25px;
    height: 3px;
    background: #fff;
    display: block;
    border-radius: 2px;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

#titre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#games {
    display: flex;
    justify-content: center;
    gap: 40px;
}

#projet1 {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow:0, 10px, 25px rgba(0, 0, 0, 0.2) ;
}

#hero {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#projet2 {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow:0, 10px, 25px rgba(0, 0, 0, 0.2) ;
}

#hero2 {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#projet3 {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow:0, 10px, 25px rgba(0, 0, 0, 0.2) ;
}

#hero3 {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#footer {
    background-color: #2c3e50;
    color: #fff;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
    padding: 20px;
}